# Editor configuration, see https://editorconfig.org
root = true

# Global settings for all files
[*]
charset = utf-8
indent_style = tab
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript settings
[*.ts]
quote_type = single
ij_typescript_use_double_quotes = false
indent_size = 4  # Ensure TypeScript uses 4 spaces
tab_width = 4    # Optional, to explicitly define tab width for TS

# Markdown settings
[*.md]
max_line_length = off
trim_trailing_whitespace = false

# C# settings
[*.cs]
indent_style = space
indent_size = 4
tab_width = 4  # Ensure C# files have 4 spaces for tabs
