:root {
    --ar-body-font-family: 'Raleway', sans-serif;
    --ar-border-radius: 0.5rem;
    --ar-primary: #8d5a44;
    --ar-primary-rgb: 141, 90, 68;
    --ar-link-color: #8d5a44;
    --ar-link-hover-color: #74412b;
    --ar-warning: #b9a250;
    --ar-warning-rgb: 185, 162, 80;
    --ar-info: #467cb9;
    --ar-info-rgb: 70, 124, 185;
    --ar-success: #41aa7e;
    --ar-success-rgb: 65, 170, 126;
    --ar-danger: #bf4a4a;
    --ar-danger-rgb: 191, 74, 74;
}

.btn-primary {
    --ar-btn-bg: #8d5a44;
    --ar-btn-border-color: #8d5a44;
    --ar-btn-hover-bg: #74412b;
    --ar-btn-hover-border-color: #74412b;
    --ar-btn-active-bg: #74412b;
    --ar-btn-active-border-color: #74412b;
    --ar-btn-disabled-bg: #8d5a44;
    --ar-btn-disabled-border-color: #8d5a44;
}

.btn-warning {
    --ar-btn-bg: #b9a250;
    --ar-btn-border-color: #b9a250;
    --ar-btn-hover-bg: #a08937;
    --ar-btn-hover-border-color: #a08937;
    --ar-btn-active-bg: #a08937;
    --ar-btn-active-border-color: #a08937;
    --ar-btn-disabled-bg: #b9a250;
    --ar-btn-disabled-border-color: #b9a250;
}

.btn-info {
    --ar-btn-bg: #467cb9;
    --ar-btn-border-color: #467cb9;
    --ar-btn-hover-bg: #2d63a0;
    --ar-btn-hover-border-color: #2d63a0;
    --ar-btn-active-bg: #2d63a0;
    --ar-btn-active-border-color: #2d63a0;
    --ar-btn-disabled-bg: #467cb9;
    --ar-btn-disabled-border-color: #467cb9;
}

.btn-success {
    --ar-btn-bg: #41aa7e;
    --ar-btn-border-color: #41aa7e;
    --ar-btn-hover-bg: #289165;
    --ar-btn-hover-border-color: #289165;
    --ar-btn-active-bg: #289165;
    --ar-btn-active-border-color: #289165;
    --ar-btn-disabled-bg: #41aa7e;
    --ar-btn-disabled-border-color: #41aa7e;
}

.btn-danger {
    --ar-btn-bg: #bf4a4a;
    --ar-btn-border-color: #bf4a4a;
    --ar-btn-hover-bg: #a63131;
    --ar-btn-hover-border-color: #a63131;
    --ar-btn-active-bg: #a63131;
    --ar-btn-active-border-color: #a63131;
    --ar-btn-disabled-bg: #bf4a4a;
    --ar-btn-disabled-border-color: #bf4a4a;
}

.btn-outline-primary {
    --ar-btn-color: #8d5a44;
    --ar-btn-border-color: #8d5a44;
    --ar-btn-hover-bg: #8d5a44;
    --ar-btn-hover-border-color: #8d5a44;
    --ar-btn-active-bg: #8d5a44;
    --ar-btn-active-border-color: #8d5a44;
    --ar-btn-disabled-color: #8d5a44;
    --ar-btn-disabled-border-color: #8d5a44;
}

.btn-outline-warning {
    --ar-btn-color: #b9a250;
    --ar-btn-border-color: #b9a250;
    --ar-btn-hover-bg: #b9a250;
    --ar-btn-hover-border-color: #b9a250;
    --ar-btn-active-bg: #b9a250;
    --ar-btn-active-border-color: #b9a250;
    --ar-btn-disabled-color: #b9a250;
    --ar-btn-disabled-border-color: #b9a250;
}

.btn-outline-info {
    --ar-btn-color: #467cb9;
    --ar-btn-border-color: #467cb9;
    --ar-btn-hover-bg: #467cb9;
    --ar-btn-hover-border-color: #467cb9;
    --ar-btn-active-bg: #467cb9;
    --ar-btn-active-border-color: #467cb9;
    --ar-btn-disabled-color: #467cb9;
    --ar-btn-disabled-border-color: #467cb9;
}

.btn-outline-success {
    --ar-btn-color: #41aa7e;
    --ar-btn-border-color: #41aa7e;
    --ar-btn-hover-bg: #41aa7e;
    --ar-btn-hover-border-color: #41aa7e;
    --ar-btn-active-bg: #41aa7e;
    --ar-btn-active-border-color: #41aa7e;
    --ar-btn-disabled-color: #41aa7e;
    --ar-btn-disabled-border-color: #41aa7e;
}

.btn-outline-danger {
    --ar-btn-color: #bf4a4a;
    --ar-btn-border-color: #bf4a4a;
    --ar-btn-hover-bg: #bf4a4a;
    --ar-btn-hover-border-color: #bf4a4a;
    --ar-btn-active-bg: #bf4a4a;
    --ar-btn-active-border-color: #bf4a4a;
    --ar-btn-disabled-color: #bf4a4a;
    --ar-btn-disabled-border-color: #bf4a4a;
}

.accordion-button:not(.collapsed)::after {
    --ar-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2024%2024'%20fill='%238d5a44'%3e%3cpath%20d='M.5%206.3c.6-.6%201.6-.6%202.3%200l9.3%209.3%209.3-9.3c.6-.6%201.6-.6%202.3%200%20.6.6.6%201.6%200%202.3L13.3%2018.8c-.6.6-1.6.6-2.3%200L.8%208.5c-.9-.8-.9-1.6-.3-2.2z'/%3e%3c/svg%3e");
}