/* NProgress bar customization */
#nprogress {
	pointer-events: none;
}

#nprogress .bar {
	background: var(--ar-primary);
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
}

/* Hide scrollbars for all elements */
* {
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* IE 10+ */
}

*::-webkit-scrollbar {
	display: none;
}

.fade-in-zoom {
	opacity: 1 !important;
	transform: scale(1) !important;
}

.masonry-grid {
	column-count: 2;
	column-gap: 1rem;
}

@media (min-width: 768px) {
	.masonry-grid {
		column-count: 3;
	}
}

.masonry-grid a {
	break-inside: avoid;
	display: block;
}

.page-loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all .4s .2s ease-in-out;
	transition: all .4s .2s ease-in-out;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 9999;
}

[data-bs-theme="dark"] .page-loading {
	background-color: #121519;
}

.page-loading.active {
	opacity: 1;
	visibility: visible;
}

.page-loading-inner {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
	opacity: 0;
}

.page-loading.active>.page-loading-inner {
	opacity: 1;
}

.page-loading-inner>span {
	display: block;
	font-family: "Inter", sans-serif;
	font-size: 1rem;
	font-weight: normal;
	color: #6f788b;
}

[data-bs-theme="dark"] .page-loading-inner>span {
	color: #fff;
	opacity: .6;
}

.page-spinner {
	display: inline-block;
	width: 2.75rem;
	height: 2.75rem;
	margin-bottom: .75rem;
	vertical-align: text-bottom;
	background-color: #d7dde2;
	border-radius: 50%;
	opacity: 0;
	-webkit-animation: spinner .75s linear infinite;
	animation: spinner .75s linear infinite;
}

[data-bs-theme="dark"] .page-spinner {
	background-color: rgba(255, 255, 255, .25);
}

@-webkit-keyframes spinner {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

@keyframes spinner {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		opacity: 1;
		-webkit-transform: none;
		transform: none;
	}
}

.markdown>* {
	all: revert;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-weight: 600;
}

.markdown-body p {
	margin-bottom: 1rem;
}

.markdown-body ul {
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.markdown-body li {
	margin-bottom: 0.5rem;
}

.markdown-body blockquote {
	padding: 0.75rem 1rem;
	border-left: 4px solid #ccc;
	background: #f8f9fa;
	font-style: italic;
	margin: 1rem 0;
}